body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

nav {
  /* text-align: center; */
  margin: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color:lightgrey;
}

.product-card, .cart-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: box-shadow 0.3s;

}

.product-card:hover, .cart-item:hover {
  box-shadow: 0 4px 8px 2px black
}

.product-image, .cart-image {
  width: 100%;
  height: 200px;
  border-radius: 4px;
}

.product-title, .cart-title {
  font-size: 1.1em;
  margin: 10px 0;
  color: #333;
}

.product-price, .cart-price {
  font-weight: bold;
  color: #555;
}

.add-to-cart-button {
  padding: 10px 15px;
  font-size: 0.9em;
  color: #fff;
  background-color:brown;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}
.cart_empty {
  text-align: center;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cart_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 100px;
  justify-items: center;
  flex-grow: 1; 
  margin-top: 20px;
}
.cart-item {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 100%;
  height:55vh;
  text-align: center;
  transition: transform 0.3s ease;
}
.cart-image {
  width: 50%;
  height:auto;
  border-radius: 8px;
  object-fit: cover;
  max-height: 200px;
}

.cart-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

.cart-price {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.39);
}
.quantity-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.quantity-selector span {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}

.subtotal {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-top: auto; 
}
.cart-item .MuiIconButton-root.MuiIconButton-colorSecondary {
  color:red;
}
.cart_empty p {
  font-size: 18px;
  color: #555;
}
.cart_empty h1 {
  font-size: 28px;
  color:black;
  font-weight: bold;
  margin-bottom: 20px;
}